:root{
    --font-family:"Be Vietnam Pro", serif;
}

*{
    font-family: var(--font-family);
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  

/* .container{
    padding: 15px;
} */

/* HEADER AND NAV STYLES */
header{
    height: 100px;
    width: 100%;
    background-color:whitesmoke;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
    
}

/* NAV STYLES */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 15px; */
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo h1{
    font-weight: 600;
    font-size: 2rem;
}

.logo  img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}

.middle-nav {
    /* display: flex;
    align-items: center; */
    float: right;
}

.middle-nav a{
    text-decoration: none;
    padding: 0 25px;
    color: black;
    font-size: 1.6rem;
    transition: color 0.3s ease-in-out;
}

.middle-nav a.active{
    font-weight: bold;
}

.search-icon{
    display: flex;
    align-items: center;
    position: relative;
}

.submit-btn{
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.submit-btn img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
}

#search-input{
    width: 0;
    opacity: 0;
    padding: 10px 16px;
    /* border: none; */
    border: 2px solid transparent;
    border-radius: 17px;
    background: none;
    transition: width 0.4s ease-in-out, opacity 0.3s ease-in-out, border 0.3s ease-in-out;
}

/* To make the search icon visible */
#search-input.visible{
 width: 350px;
opacity: 1;
 border: 2px solid black;
}

/* responsive navbar */
.responsive-toggle {
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
}

.responsive-toggle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}




/* MAIN STYLES  */
main{
    position: relative;
    top: 100px;
    width: 100%;
    margin: auto;
    height: 100%;
}
main h1{
    margin: 0;
}
/* THIS IS THE DIV THAT WILL SHOW THE CLICKED MOVIE/SERIES */
.top-container{
    background-image: url("assets/render-imgs/placeholder.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    width: 100vh;
    height: 500px;
    margin: auto;
    position: fixed;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-container{
    width: 50%;
}
p .brief-description{
    word-wrap: break-word;
}

/* top container btns */
.buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.buttons button{
    padding: 8px 23px;
    font-size: 1.1em;
    cursor: pointer;
    border: none;
    border-radius: 17px;
    font-weight: 500;
}

.buttons button i{
    padding-left: 8px;
    font-weight: bold;
}



/* Tending movies div*/
.trending-movies-container{
    background-color: darkmagenta;
    position: relative;
    top: 500px;
    height: 600px;
}

/* trending series div */
.trending-series-container{
    background-color:darkslateblue;
    position: relative;
    top: 500px;
    height: 600px;
}

/* modal window */
.modal-window{
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-color: cornflowerblue; 
    display: none;   
}

#close-icon{
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content{
    position: relative;
    top: 25px;
    left: 15px;
}

