:root{
    --font-family:"Be Vietnam Pro", serif;
}

*{
    font-family: var(--font-family);
}

*:focus{
    outline: none;
}

body{
    margin: 0
}


/* HEADER AND NAV STYLES */
header{
    height: 100px;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
    
}

/* NAV STYLES */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo h1{
    font-weight: 600;
    font-size: 2rem;
}

.logo  img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}

.middle-nav {
    display: flex;
    align-items: center;
}

.middle-nav a{
    text-decoration: none;
    padding: 0 25px;
    color: black;
    font-size: 1.6rem;
    transition: color 0.3s ease-in-out;
}

.middle-nav a.active{
    font-weight: bold;
}


.search-icon{
    display: flex;
    align-items: center;
    position: relative;
}

.submit-btn{
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.submit-btn img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
}

#search-input{
    width: 0;
    opacity: 0;
    padding: 10px 16px;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 17px;
    background: none;
    transition: width 0.4s ease-in-out, opacity 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

/* To make the search icon visible */
#search-input.visible{
 width: 100%;
opacity: 1;
 border-bottom: 2px solid #333;
}




/* MAIN STYLES  */
main{
    position: relative;
    top: 100px;
}